<body>
	<div class= "contenedor">
		<nav class="barra">
			<ul class="navegador">
				<a href="/home"><li class="listas">HOME</li></a>
				<a href=""><li class="listas">DISEÑA TU RUTA</li></a>
				<a href=""><li class="listas">DESCUBRE TOLEDO</li></a>
				<a href=""><li class="listas">RUTAS</li></a>
				<a href=""><li class="listas">GALERÍA</li></a>
				<a href=""><li class="listas">REGISTRO</li></a>
			</ul>
		</nav>

		<section>
	  		<div id="fotos">
	  			<%= image_tag 'fotitos/catedral.jpg', id: "foto1" %>
				<%= image_tag 'fotitos/alcazar.jpg', id: "foto2" %>
				<%= image_tag 'fotitos/mezquita.jpg', id: "foto3" %>

			    <!--<div id="foto1" draggable="true"> </div> 
			    <div id="foto2" draggable="true"> </div>
			    <div id="foto3" draggable="true"> </div>
			    <div id="foto4" draggable="true"> </div>    -->
  			</div>
			<div id="recuadro"></div>
		</section>
		<footer>
		</footer>	
	</div>
</body>

	