<body>
	<div class= "contenedor">
		<nav class="barra">
			<ul class="navegador">
				<a href=""><li class="listas">HOME</li></a>
				<a href=""><li class="listas">DISEÑA TU RUTA</li></a>
				<a href=""><li class="listas">DESCUBRE TOLEDO</li></a>
				<a href=""><li class="listas">RUTAS</li></a>
				<a href=""><li class="listas">GALERÍA</li></a>
				<a href=""><li class="listas">REGISTRO</li></a>
			</ul>
		</nav>
		<section>
	  		<div id="fotos">
			    <span id="foto1" draggable="true"> </span>
			    <span id="foto2" draggable="true"> </span>
			    <span id="foto3" draggable="true"> </span>
			    <span id="foto4" draggable="true"> </span>    
  			</div>
			<div id="recuadro"></div>
		</section>
		<footer>
		</footer>	
	</div>
</body>

	