<section class="">
<header class="titulo">TOLEDO EN RUTA</header>
<section class="subtitulo">
	Diseña tu propio itinerario y empieza a disfrutar de la capital manchega. Elige los
	lugares que más se ajusten a tus necesidades y recorre la ciudad de las tres culturas
	diseñando tu ruta.
  <article><p><a href='/desing_Ruta'><button type="button" class="btn btn-info">COMIENZA A DISEÑAR</button></a></p></article>
  <div class="cajaIconos">
    <a href=""><%= image_tag 'iconos_sociales/youtubeblanco.png', class: "iconos buzz" %> </a>
    <a href=""><%= image_tag 'iconos_sociales/insagramblanco.png', class: "iconos buzz" %> </a>
    <a href=""><%= image_tag 'iconos_sociales/twitterblanco.png', class: "iconos buzz" %> </a>
    <a href=""><%= image_tag 'iconos_sociales/facebookblanco.png', class: "iconos buzz" %> </a>
  </div>
</section>

