<body class="fondo">
	<div class= "contenedor">
	<nav class="centrar-vertical2">
		<ul>
			<a href="/"><li>HOME</li></a>
			<a href="/desing_Ruta"><li>DISEÑA TU RUTA</li></a>
			<a href=""><li>DESCUBRE TOLEDO</li></a>
			<a href=""><li>RUTAS</li></a>
			<a href=""><li>GALERÍA</li></a>
			<a href="/signup"><li>REGISTRO</li></a>
		</ul>
	</nav>
	<section class="">
	<header class="titulo">TOLEDO EN RUTA</header>
	<section class="subtitulo">
		Diseña tu propio itinerario y empieza a disfrutar de la capital manchega. Elige los
		lugares que más se ajusten a tus necesidades y recorre la ciudad de las tres culturas
		diseñando tu ruta.
	<article><p><a href='/desing_Ruta'><button>COMIENZA A DISEÑAR</button></a></p></article>
	</section>
	<section>
	<br>
	<br>
	</section>
	<footer class="centrar-vertical" "fin">
		<!--<a href=""><%= image_tag 'iconos_sociales/youtubeblanco.png', class: "iconos" %> </a>
		<a href=""><%= image_tag 'iconos_sociales/insagramblanco.png', class: "iconos" %> </a>
		<a href=""><%= image_tag 'iconos_sociales/twitterblanco.png', class: "iconos" %> </a>
		<a href=""><%= image_tag 'iconos_sociales/facebookblanco.png', class: "iconos" %> </a> -->
	</footer>	
	</div>
</body>
