<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Diseña tu ruta</title>
	<link rel="stylesheet" href="style/reset.css">
	<link rel="stylesheet" href="style/contacto.css">
	<link rel="stylesheet" href="style/utilidades.css">
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Abel|Anton|Russo+One|Oswald|Julius+Sans+One|Francois+One|Hammersmith+One' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class= "contenedor">
	<nav class="centrar-vertical3">
		<ul class="navegador">
			<a href=""><li>HOME</li></a>
			<a href=""><li>DISEÑA TU RUTA</li></a>
			<a href=""><li>DESCUBRE TOLEDO</li></a>
			<a href=""><li>RUTAS</li></a>
			<a href=""><li>GALERÍA</li></a>
			<a href=""><li>CONTACTO</li></a>
		</ul>
	</nav>
	
	<footer>
	</footer>	
	</div>
</body>
</html>