<section class="retoque_foto"></section>
<section class="caja texto">
  <div class="titulo_rutas separador">LEYENDAS Y MITOS DE TOLEDO</div>
  <div class="texto_leyendas">
    A lo largo de este recorrido abordaremos la zona norte de la ciudad. Conoceremos los lugares que inspiraron a famosos literatos como Gustavo Adolfo Bécquer, Garcilaso de la Vega...
    Un amplio abanico de temas y leyendas recogidos en la zona en la que habitaron estos y más personajes conocidos por todos. Recorreremos también la zona conventual y noble de la ciudad y pasearemos por algunos de los espacios más conocidos de la ciudad. Sin duda, un recorrido ameno y bello dado a conocer por historiadores e investigadores.
    <p class="separador">Recorrido </p>
    Te llevaremos por rincones ocultos y desconocidos de la ciudad, bordeando grandes monumentos, empinadas callejones y lugares misteriosos.  
    <p class="separador">Duración</p>
    Esta ruta se programa en dos versiones:
    - 2 horas con precio 12 € y visita a una mazmorra. (Sólo para grupos privados bajo reserva previa)
    - 90 minutos con precio 5 ó 6 euros sin visitas, sólo recorrido externo con paradas narradas.
    <p class="separador">Horario</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et sollicitudin ante. Vivamus a diam at orci venenatis elementum ac nec nulla. Nullam fringilla lectus et venenatis mollis. Nullam enim.
  </div>  
  

</section>
