<section class="caja texto">
  <div class="titulo_rutas">DESCUBRE LAS MEJORES RUTAS POR LA CIUDAD</div>
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <%= image_tag "Toledo01.jpg" %>
        <p class="title">LEYENDAS Y MITOS</p>
        <p>Los lugares que inspiraron a famosos literatos como Gustavo Adolfo Bécquer, Garcilaso de la Vega...Un amplio abanico de temas y leyendas recogidos en la zona en la que habitaron estos y más personajes conocidos por todos.</p>
        <p><button class="btn btn-small btn-info" type="button">VER</button></p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <%= image_tag "Templarios.jpg" %>
        <p class="title">RUTA DE LOS TEMPLARIOS</p>
        <p>Conocer la leyenda que rodea a los Templarios, los componentes esotéricos, el destino de sus tesoros... Esto y mucho más son los misterios que conocerás en una ruta por los rincones más relacionados con la Orden en Toledo.</p>
        <p><button class="btn btn-small btn-info" type="button">VER</button></p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <%= image_tag "Toledo03.jpg" %>
        <p class="title">EL TOLEDO DE LA INQUISICIÓN</p> 
        <p>La Inquisición Toledana influyó sobremanera la vida de los toledanos. Los sótanos de la capital no sólo servían a los alquimistas para ejercer sus artes ocultas. Allí también se les castigarles cuando la Inquisición les descubría.</p>
        <p><button class="btn btn-small btn-info" type="button">VER</button></p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <%= image_tag "Siniestro.jpg" %>
        <p class="title">TOLEDO SINIESTRO</p>
        <p>No es un secreto que cuando la noche cae sobre Toledo surgen seres de las sombras. En Toledo son legión las ánimas que han habitado la ciudad desde tiempos inmemoriales y muchas de ellas todavía permanecen allí. </p>
        <p><button class="btn btn-small btn-info" type="button">VER</button></p>
      </div>
    </li>
  </ul>
</section>