.contenedor {
   width: 100%;
   max-width: 1600px;
   height: 800px;
   overflow: hidden;
   margin: 0 auto;
}
.centrar-vertical3{
   position: relative;
   top: 1%;
   transform: translateY(50%);
}
nav{
   float: right;
   width: 100%;
   margin-right: 5%;
   font-family: calibri;
   font-size: 100%;
   font-weight: bold;
   color: white;
   text-align: right;
}
nav li{
   display: inline-block;
   margin: 5px;
   padding: 5px;
   box-sizing: border-box;
   text-shadow: 0 0 15px black;
}
a:link {   text-decoration:none; color:#FFFFFF;}
a:visited {   color:#FFFFFF; text-decoration:none;}
a:active {   color:#FFFFFF; text-decoration:none;}
nav li:hover {transition-duration: 0.5s; text-decoration: overline;}

