.caja{
  width: 80%;
  margin: 0 auto;
}
.texto{
  font-family: 'Francois One', sans-serif;
}
.title{
  font-size: 20px;
}
.titulo_rutas{
  text-align: center;
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-shadow: 0 0 20px grey;
}
