<!DOCTYPE html>
<html>
<head>
  <title>ToledoRuta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', defer: :true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class= "contenedor">
    <div class="centradoBarra">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="brand" href="/">Toledo en Ruta</a>
          <ul class="nav pull-right">
            <li><a href="/desing_Ruta">DISEÑA TU RUTA</a></li>
            <li><a href="/rutas">RUTAS</a></li>
            <li><a href="/galeria">GALERIA</a></li>
          </ul>
        </div>
      </div>
  </div>

    <%= yield %>

  </div>
</body>
</html>
