<!DOCTYPE html>
<html>
<head>
  <title>ToledoRuta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class= "contenedor">
  	<nav class="barra">
  		<ul class="navegador centrar-vertical3">
        <a href="/"><li>HOME</li></a>
  			<a href="/desing_Ruta"><li>DISEÑA TU RUTA</li></a>
  			<a href=""><li>DESCUBRE TOLEDO</li></a>
  			<a href=""><li>RUTAS</li></a>
  			<a href=""><li>GALERÍA</li></a>
  		</ul>
  	</nav>

    <%= yield %>

  </div>
</body>
</html>
