<!DOCTYPE html>
<html>
<head>
  <title>ToledoRuta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="fondo">
  <div class= "contenedor">
    <nav class="centrar-vertical2">
      <ul>
        <a href="/desing_Ruta"><li class="float-shadow">DISEÑA TU RUTA</li></a>
        <a href="/rutas"><li  class="float-shadow">RUTAS</li></a>
        <a href="/galeria"><li class="float-shadow">GALERÍA</li></a>
      </ul>
    </nav>

    <%= yield %>

  </div>
</body>
</html>
